/* New Stucco Look & Feel */

/* Degular Text for Text */
@font-face {
  font-family: "Degular";
  src: url("./fonts/DegularTextDemo-SemiboldItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Degular";
  src: url("./fonts/DegularTextDemo-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("./fonts/DegularTextDemo-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Degular";
  src: url("./fonts/DegularTextDemo-Semibold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* FT88 Good Fun */
@font-face {
  font-family: "FT88";
  src: url("./fonts/FT88-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FT88 Gothique";
  src: url("./fonts/FT88-Gothique.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Departure Utillity  */
@font-face {
  font-family: "Departure";
  src: url("./fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* GZA Good Fun */
@font-face {
  font-family: "GZA";
  src: url("./fonts/gza-seminegra-web-p.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GZA";
  src: url("./fonts/gza-seminegraitalic-web-p.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}


/* Plex Sans, All Weights */
/* TODO: Delete unused faces */
@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Plex Sans Bold"), local("IBMPlexSans-Bold"), url("./fonts/IBMPlexSans-Bold-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"), url("./fonts/IBMPlexSans-BoldItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 200;
  src: local("Plex Sans ExtLt"), local("IBMPlexSans-ExtLt"), url("./fonts/IBMPlexSans-ExtraLight-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: italic;
  font-weight: 200;
  src: local("Plex Sans ExtLt Italic"), local("IBMPlexSans-ExtLtItalic"), url("./fonts/IBMPlexSans-ExtraLightItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Plex Sans Italic"), local("IBMPlexSans-Italic"), url("./fonts/IBMPlexSans-Italic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Plex Sans Light"), local("IBMPlexSans-Light"), url("./fonts/IBMPlexSans-Light-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"), url("./fonts/IBMPlexSans-LightItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Plex Sans Medm"), local("IBMPlexSans-Medm"), url("./fonts/IBMPlexSans-Medium-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: local("Plex Sans Medm Italic"), local("IBMPlexSans-MedmItalic"), url("./fonts/IBMPlexSans-MediumItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Plex Sans"), local("IBMPlexSans"), url("./fonts/IBMPlexSans-Regular-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Plex Sans SmBld"), local("IBMPlexSans-SmBld"), url("./fonts/IBMPlexSans-SemiBold-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Plex Sans SmBld Italic"), local("IBMPlexSans-SmBldItalic"), url("./fonts/IBMPlexSans-SemiBoldItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 450;
  src: local("Plex Sans Text"), local("IBMPlexSans-Text"), url("./fonts/IBMPlexSans-Text-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: italic;
  font-weight: 450;
  src: local("Plex Sans Text Italic"), local("IBMPlexSans-TextItalic"), url("./fonts/IBMPlexSans-TextItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Plex Sans Thin"), local("IBMPlexSans-Thin"), url("./fonts/IBMPlexSans-Thin-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Sans';
  font-style: italic;
  font-weight: 100;
  src: local("Plex Sans Thin Italic"), local("IBMPlexSans-ThinItalic"), url("./fonts/IBMPlexSans-ThinItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}

/* Plex Mono, All Weights */
/* TODO: Delete unused faces */
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local("Plex Mono Bold"), local("IBMPlexMono-Bold"), url("./fonts/IBMPlexMono-Bold-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: local("Plex Mono Bold Italic"), local("IBMPlexMono-BoldItalic"), url("./fonts/IBMPlexMono-BoldItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 200;
  src: local("Plex Mono ExtLt"), local("IBMPlexMono-ExtLt"), url("./fonts/IBMPlexMono-ExtraLight-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: italic;
  font-weight: 200;
  src: local("Plex Mono ExtLt Italic"), local("IBMPlexMono-ExtLtItalic"), url("./fonts/IBMPlexMono-ExtraLightItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local("Plex Mono Italic"), local("IBMPlexMono-Italic"), url("./fonts/IBMPlexMono-Italic-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local("Plex Mono Light"), local("IBMPlexMono-Light"), url("./fonts/IBMPlexMono-Light-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: local("Plex Mono Light Italic"), local("IBMPlexMono-LightItalic"), url("./fonts/IBMPlexMono-LightItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: local("Plex Mono Medm"), local("IBMPlexMono-Medm"), url("./fonts/IBMPlexMono-Medium-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: local("Plex Mono Medm Italic"), local("IBMPlexMono-MedmItalic"), url("./fonts/IBMPlexMono-MediumItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Plex Mono"), local("IBMPlexMono"), url("./fonts/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: local("Plex Mono SmBld"), local("IBMPlexMono-SmBld"), url("./fonts/IBMPlexMono-SemiBold-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: local("Plex Mono SmBld Italic"), local("IBMPlexMono-SmBldItalic"), url("./fonts/IBMPlexMono-SemiBoldItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 450;
  src: local("Plex Mono Text"), local("IBMPlexMono-Text"), url("./fonts/IBMPlexMono-Text-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: italic;
  font-weight: 450;
  src: local("Plex Mono Text Italic"), local("IBMPlexMono-TextItalic"), url("./fonts/IBMPlexMono-TextItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 100;
  src: local("Plex Mono Thin"), local("IBMPlexMono-Thin"), url("./fonts/IBMPlexMono-Thin-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}
@font-face {
  font-family: 'Plex Mono';
  font-style: italic;
  font-weight: 100;
  src: local("Plex Mono Thin Italic"), local("IBMPlexMono-ThinItalic"), url("./fonts/IBMPlexMono-ThinItalic-Latin1.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}