html {
  font-size: 16px;
}

body {
  font-size: var(--txt-0);
  font-family: var(--sans-stack);
  line-height: 1.65;
  font-weight: 300;
  background-color: var(--bg-color);
  color: var(--txt-color);
  letter-spacing: 0.025em;
}
b {
  font-weight: 500;
}
h1, h2, h3, h4, h5 {
  font-family: var(--title-stack);
  margin-block: var(--lead-1);
  font-weight: 400;
  letter-spacing: 0px;
}
p {
  margin-block-start: 0;
  margin-block-end: var(--lead-1);
}
h1 { font-size: var(--txt-3); }
h2 { font-size: var(--txt-1); }
h3 { font-size: var(--txt-0); }
h4 { font-size: var(--txt-0); }
h5 { font-size: var(--txt-0); }

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--grid-gutter);
}

.container {
    max-width: var(--grid-max-width);
  }
  .text {
    max-width: 48rem;
    margin: auto;
    word-wrap: break-word;
  }

  .degular {
    font-family: "Degular";
    font-weight: 300;
    font-style: normal;
  }
  .degular b {
    font-weight: 500;
  }

  .ft88 {
    font-family: "FT88";
    font-weight: 400;
  }

  .gothique {
    font-family: "FT88 Gothique";
    letter-spacing: -2px;
    font-weight: 400;
  }

  .departure {
    font-family: "Departure";
    font-weight: 400;
    line-height: 1.3;
  }

  .txt--2 { font-size: var(--txt--2) }
  .txt--1 { font-size: var(--txt--1) }
  .txt-0 { font-size: var(--txt-0) }
  .txt-1 { font-size: var(--txt-1) }
  .txt-2 { font-size: var(--txt-2) }
  .txt-3 { font-size: var(--txt-3) }
  .txt-4 { font-size: var(--txt-4); line-height: 1;}

  blockquote {
    padding: 0;
    margin-inline: 0;
    margin-block: var(--lead-3);
    text-wrap: balance;
  }

  h2 {
    margin-block-start: var(--lead-3);
    margin-block-end: var(--lead-1-half);
  }
  h3 {
    margin-block-start: var(--lead-2);
    margin-block-end: var(--lead-1);
  }
  pre {
    overflow: scroll;
  }

a:visited {
  color: var(--black);
}
a:focus,
a:hover {
  background-color: pink;
  color: var(--black);
  outline: 0.25em solid pink;
}
.text p + p {
  margin-top: var(--lead-2);
}
.text h1 {
  margin-block-end: var(--lead-3);
}
/*a:hover {
  color: var(--red);
}*/